.menu {


    background-color: rgb(43, 43, 46);
    color: white;
    height: 100vh;
    list-style: none;


}

.menu-item {

    display: block;
    margin-left: -40px;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;


}

.menu-item:hover {

    background-color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;


}

.card {

    box-shadow: 2px 2px 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}


.editar {

    color: gray;
    text-align: center;
    align-items: center;
    margin-right: 15px;

}


.excluir {

    text-align: center;
    color: red;
    align-items: center;
}

.editar:hover{
    text-decoration: none;


}

.excluir:hover{

    text-decoration: none;
}

.painel{

    width: 500px;
    margin: auto;
    background-color: white;
    margin-top: 200px;
    border-radius: 10px;
    padding: 40px;


}

.fundo {
    height: 100vh; /* Faz o fundo ocupar toda a tela */
    background: linear-gradient(to bottom right, black, #444, #888, white);
    margin: 30px;
}


.user{
    font-size: 80px;
    
}

.topo{

    text-align: center;
    margin-top: 20px;

}

@media(max-width: 768px) {
    .menu {

        display: none;
    }
}